/.gradle/8.13/checksums/checksums.lock
/.gradle/8.13/checksums/md5-checksums.bin
/.gradle/8.13/checksums/sha1-checksums.bin
/.gradle/8.13/executionHistory/executionHistory.bin
/.gradle/8.13/executionHistory/executionHistory.lock
/.gradle/8.13/fileChanges/last-build.bin
/.gradle/8.13/fileHashes/fileHashes.bin
/.gradle/8.13/fileHashes/fileHashes.lock
/.gradle/8.13/fileHashes/resourceHashesCache.bin
/.gradle/8.13/gc.properties
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/vcs-1/gc.properties
/.gradle/file-system.probe
/.idea/**
/.idea/httpRequests/2026-01-11T113913.200.txt
/.idea/httpRequests/2026-01-11T121151.200.json
/.idea/httpRequests/2026-01-11T121155.404.json
/.idea/httpRequests/2026-01-11T121343.404.json
/.idea/httpRequests/2026-01-11T121346.404.json
/.idea/httpRequests/2026-01-11T121400.200.json
/.idea/httpRequests/2026-01-11T121403.404.json
/.idea/httpRequests/2026-01-11T121416.200.json
/.idea/httpRequests/2026-01-11T121640.200.txt
/.idea/httpRequests/2026-01-11T121707.200.txt
/.idea/httpRequests/2026-01-11T121741.200.json
/.idea/httpRequests/2026-01-11T121909.200.txt
/.idea/httpRequests/2026-01-11T121925.200.txt
/.idea/httpRequests/2026-01-11T121926.200.txt
/.idea/httpRequests/2026-01-11T121927.200.txt
/.idea/httpRequests/2026-01-11T121938.200.json
/.idea/httpRequests/2026-01-11T121940.200.txt
/.idea/httpRequests/2026-01-11T122006.200.json
/.idea/httpRequests/2026-01-11T122017.404.json
/.idea/httpRequests/2026-01-11T122037.404.json
/.idea/httpRequests/2026-01-11T152617.200.json
/.idea/httpRequests/2026-01-11T152623.404.json
/.idea/httpRequests/2026-01-11T152632.404.json
/.idea/httpRequests/2026-01-11T152717.200.json
/.idea/httpRequests/2026-01-11T152720.200.json
/.idea/httpRequests/2026-01-11T152804.200.json
/.idea/httpRequests/2026-01-11T184220.200.txt
/.idea/httpRequests/2026-01-11T185747.200.txt
/.idea/httpRequests/2026-01-11T185806.200.txt
/.idea/httpRequests/2026-01-11T185923.500.json
/.idea/httpRequests/2026-01-11T185924.500.json
/.idea/httpRequests/2026-01-11T185954.200.txt
/.idea/httpRequests/2026-01-11T190051.200.txt
/.idea/httpRequests/2026-01-11T191123.200.txt
/.idea/httpRequests/2026-01-11T191213.200.txt
/.idea/httpRequests/2026-01-11T191719.200.txt
/.idea/httpRequests/2026-01-11T191740.200.txt
/.idea/httpRequests/2026-01-11T191752.200.txt
/.idea/httpRequests/2026-01-11T191812.200.json
/.idea/httpRequests/2026-01-11T191814.200.txt
/.idea/httpRequests/2026-01-11T191855.200.json
/.idea/httpRequests/2026-01-11T191900.200.txt
/.idea/httpRequests/2026-01-11T192144.200.txt
/.idea/httpRequests/2026-01-11T192152.200.json
/.idea/httpRequests/2026-01-11T192329.200.txt
/.idea/httpRequests/2026-01-11T192351.200.txt
/.idea/httpRequests/2026-01-11T192445.200.json
/.idea/httpRequests/2026-01-11T192446.200.txt
/.idea/httpRequests/2026-01-11T192542.200.txt
/.idea/httpRequests/http-client.cookies
/.idea/httpRequests/http-requests-log.http
/.idea/modules/apigateway-service/MSA.apigateway-service.main.iml
/.idea/modules/catalog-service/MSA.catalog-service.main.iml
/.idea/modules/first-service/MSA.first-service.main.iml
/.idea/modules/order-service/MSA.order-service.main.iml
/.idea/modules/second-service/MSA.second-service.main.iml
/.idea/modules/service-discovery/MSA.service-discovery.main.iml
/.idea/modules/user-service/MSA.user-service.main.iml
/.idea/checkstyle-idea.xml
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.gradle/8.14.3/checksums/checksums.lock
/.gradle/8.14.3/executionHistory/executionHistory.bin
/.gradle/8.14.3/executionHistory/executionHistory.lock
/.gradle/8.14.3/fileChanges/last-build.bin
/.gradle/8.14.3/fileHashes/fileHashes.bin
/.gradle/8.14.3/fileHashes/fileHashes.lock
/.gradle/8.14.3/fileHashes/resourceHashesCache.bin
/.gradle/8.14.3/gc.properties
/.gradle/9.2.1/checksums/checksums.lock
/.gradle/9.2.1/executionHistory/executionHistory.bin
/.gradle/9.2.1/executionHistory/executionHistory.lock
/.gradle/9.2.1/fileChanges/last-build.bin
/.gradle/9.2.1/fileHashes/fileHashes.bin
/.gradle/9.2.1/fileHashes/fileHashes.lock
/.gradle/9.2.1/fileHashes/resourceHashesCache.bin
/.gradle/9.2.1/gc.properties
