server:
  port: 0

spring:
  profiles:
    active: dev

  application:
    name: user-service

  datasource:
    url: ${RDB_URL}
    username: ${RDB_USERNAME}
    password: ${RDB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
        default_batch_fetch_size: 100
    show-sql: true

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      ssl:
        enabled: ${REDIS_SSL_ENABLED}

  cloud:
    config:
      name: user-service
  config:
    import: optional:configserver:http://localhost:8888
#    <eureka-service-id>
#    import: configserver:

jwt:
  secret: ${JWT_SECRET}
  access-token-expiration: ${JWT_ACCESS_TOKEN_EXPIRATION}
  refresh-token-expiration: ${JWT_REFRESH_TOKEN_EXPIRATION}

eureka:
  client:
    service-url:
      default-zone: http://127.0.0.1:8761/eureka # ?? eureka ??? ?????? ??
    fetch-registry: true
    register-with-eureka: true

  instance:
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}

# actuator 엔드포인트 노출
management:
  endpoints:
    web:
      exposure:
        include:
          - env
          - health
          - beans
          - info
          - refresh

freshmen:
  ment: shinzo-sasageo(user-service)

for:
  default-profile: hallo-form-user-service
