server:
  port: 8888

spring:
  application:
    name: config-service

  profiles:
    active: native

  cloud:
    config:
      server:
        native:
          search-locations:  file:///Users/gno_root/Desktop/open_the_door/lets_developing/start_architecture/msa/config-source-native

        git: # default
          # protocol: file//
          # file path: /Users/gno_root/Desktop/open_the_door/lets_developing/start_architecture/msa/config-source
#          uri: file:///Users/gno_root/Desktop/open_the_door/lets_developing/start_architecture/msa/config-source
          uri: https://github.com/WithFortuna/spring-cloud-config-repository
          default-label: main

